extends layout
block content
  h1 #{title}
  form(method='POST', action='/appointment/edit/'+appointment._id)
    #form-group
      label Title:
      input.form-control(name='title', type='text' value=appointment.title)

      input.form-control(name='author', type='hidden' value=appointment.author)
    #form-group
      label Body:
      textarea.form-control(name='body')= appointment.body
    br  
    input.btn.btn-primary(type='submit', value='Save changes')    
