extends layout
block content
  h1 register
  form(method='POST', action='/users/register')
    #form-group
      label Name:
      input.form-control(name='name', type='text')
    br    
    #form-group
      label Email:
      input.form-control(name='email', type='text')
    br    
    #form-group
      label Username:
      input.form-control(name='username', type='text')
    br
    #form-group
      label Password:
      input.form-control(name='password', type='password')
    br
    #form-group
      label Password:
      input.form-control(name='password2', type='password')
    br           
    input.btn.btn-primary(type='submit', value='Submit')    
